{% extends "layout.html" %}

{% block content %}
<center>
<h2>Subscribe</h2>

<form method="POST" action="subscribe">
    <input type="text" placeholder="first name" name="first_name"><br/>
    <input type="text" placeholder="last name" name="last_name"><br/>
    <input type="text" placeholder="email" name="email"><br/>
    <button type="submit">Submit</button>
</form>
<h2>You will be sent an email with a verification link upon submitting. If you do not see it, check your spam folder. You may have to add matthew@cheneycreations.com to your contacts, or set a filter to never mark those emails as spam.</h2>
</center>
{% endblock content %}
